@import "tailwindcss";

@theme inline {
    --font-primary: var(--font-primary);
    --font-secondary: var(--font-secondary);
}

:root {
    --primary: #000000;
    --primary-hover: color-mix(in srgb, var(--primary) 85%, black);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer base {
    button {
        cursor: pointer;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}