@import "tailwindcss";

:root {
    --primary: #000000;
    --primary-hover: color-mix(in srgb, var(--primary) 85%, black);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}